<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
  <h2>Whistler/Blackcomb</h2>
  <table id="whistler" class="table table-bordered table-striped table-condensed" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th>3 Days Ago</th>
        <th>2 Days Ago</th>
        <th>Yesterday</th>
        <th>Today</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pig Alley Weather Station (1650M) | <strong>-2 <i class="wi wi-celcius"></i></strong> <i class="wi wi-strong-wind"></i></td>
        <td>+0cm <i class="wi wi-cloudy"></i></td>
        <td>+0cm <i class="wi wi-rain"></i></td>
        <td>+0cm <i class="wi wi-snow"></i></td>
        <td>+0cm <i class="wi wi-day-sunny"></i></td>
      </tr>
      <tr>
        <td>Peak (2182M) | <strong>-7 <i class="wi wi-celcius"></i></strong></td>
        <td class="success">10:00AM</td>
        <td class="warning">10:00AM</td>
        <td class="danger">10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Whistler T-Bar</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Harmony (2115M))</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Symphony (2030M)</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>

      <tr>
        <td>7th Heaven (2284M)</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>HorstMan T-Bar</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Showcase T-Bar</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Glacier (2137M)</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Crystal (1827M)</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
    </tbody>
  </table>
</div>