<div class="container">
  <h2>Whistler/Blackcomb</h2>
  <table id="whistler" class="table table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th>3 Days Ago</th>
        <th>2 Days Ago</th>
        <th>Yesterday</th>
        <th>Today</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pig Alley Weather Station (1650M) 8cm | <strong>-2</strong></td>
        <td>+0cm</td>
        <td>+0cm</td>
        <td>+0cm</td>
        <td>+0cm</td>
      </tr>
      <tr>
        <td>Peak (2182M) | <strong>-7</strong></td>
        <td class="success">10:00AM</td>
        <td class="warning">10:00AM</td>
        <td class="danger">10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Whistler T-Bar</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Harmony (2115M))</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Symphony (2030M)</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>

      <tr>
        <td>7th Heaven (2284M)</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>HorstMan T-Bar</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Showcase T-Bar</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Glacier (2137M)</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
      <tr>
        <td>Crystal (1827M)</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
        <td>10:00AM</td>
      </tr>
    </tbody>
  </table>
</div>